[user]
    name = Luis Felipe Hussin Bento
    email = hussin@gmail.com
[core]
    editor = vim
[color]
    ui = true
[alias]
    co = checkout
    ci = commit
    s = status
    a = add
    d = diff
    b = branch
